.list-group {
    max-height: 350px;
    overflow-y: auto;
}

.avatar {
    height: 60px;
    width: 60px;
}
.user-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 31px);
}
